<template>
  <div>
        <slot :getchartdata="getInfoChart" :data="data" :search="search" :export="exportcvs"> </slot>
  </div>
</template>

<script>

export default {
  name:'index',
  props:['employees'],
  data() {
    return {
      data:{
        allEmployees:[],
          resume:{},
        reportSelected:'',
        model:[],
        search:{
          start:null,
          end:null,
          requested: 'Mostrando los 30 ingresos mas recientes',
          total: 0,
          type:'0'
        },
        chart:{
          search:{
            year: new Date().getFullYear(),
            month: new Date().getMonth() + 1,
            type:'0'
          }
        },
        range:{
            current:'weekly',
            options: [
                      {label: 'Año actual', value: 'yearly'},
                      {label: 'Mes actual', value: 'monthly'},
                      {label: 'Semana Actual', value: 'weekly'},
                  ]
        },
        reportType:{
            current:'general',
            options: [
                      {name: 'Reporte general', code: 'general'},
                      {name: 'Egresos por proveedor', code: 'top-providers'},
                      {name: 'Egresos por categoria', code: 'top-categories'},
                  ]
        },
          currentChartData: {
            labels:[],
            datasets: [
                  {
                      label: '',
                      data: [65, 59, 80, 81, 56, 55, 40],
                      fill: true,
                      borderColor: '#42A5F5',
                      tension: .4
                  },
              ],
              total:0,
          },
          basicOptions: {
              plugins: {
                  legend: {
                      labels: {
                          color: '#495057'
                      }
                  }
              },
              scales: {
                  x: {
                      ticks: {
                          color: '#495057'
                      },
                      grid: {
                          color: '#ebedef'
                      }
                  },
                  y: {
                      ticks: {
                          color: '#495057'
                      },
                      grid: {
                          color: '#ebedef'
                      }
                  }
              }
          },
      },
    }
  },
  methods:{
    changeRange(event){
     this.getInfoChart(event.value);
    },
    getInfoChart(range){

      this.$root.loading(true);
        axios
				.post('/ajax/get-info-chart-commissions',{
          type: this.data.chart.search.type,
          year: this.data.chart.search.year,
          month: new Date().getMonth() +1,
          day: new Date().getDate(),
        })
				.then((response) => {
          if(response.data.success){
            this.data.currentChartData.datasets[0].data = response.data.data.datasets;
            this.data.currentChartData.labels = response.data.data.labels
            this.data.currentChartData.total = response.data.data.total;
           this.data.currentChartData.datasets[0].label = this.chartTitle;
            
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
          

    },
    exportcvs(reference) {
      this.$root.$refs[reference].exportCSV();
    },
    search(){
      if(this.data.search.start  == null|| this.data.search.end == null){
         this.$root.alert("error", "Upps..", "Selecciona las fechas correctas");
      }else {
       this.$root.loading(true);
          axios
          .post('/ajax/get-reports-commissions',{
            start: this.data.search.start,
            end: this.data.search.end,
            id: this.data.search.type
          })
          .then((response) => {
            console.log(response.data);
            if(response.data.success){
              this.data.reportSelected = this.data.search.type;
              this.data.model = response.data.data.sales;
              this.data.search.total = response.data.data.total;
              this.data.resume = response.data.data.resume;
              var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
              this.data.resume.title = "Resumen de comisiones del " + this.data.search.start.toLocaleString('Es-mx', options) +  " al " +this.data.search.end.toLocaleString('Es-mx', options) ;
              this.data.search.requested = "";
            }
            this.$root.loading(false);
          }).catch((error) => {
            this.$root.alert("error", "Upps..", error);
            this.$root.loading(false);
          })
      }
        
      
    }
  },
  computed:{
    chartTitle(){
     return "Comisiones totales";
    }
  },
  mounted(){
    const date = new Date();
    this.data.search.start = new Date(date.getFullYear(), date.getMonth(), 1);
    this.data.search.end = new Date(date.getFullYear(), date.getMonth() +1, 0);
    this.data.allEmployees = this.employees;
    this.data.search.type = this.data.allEmployees[0].id;
    this.data.chart.search.type= this.data.allEmployees[0].id;
    this.search();
    this.getInfoChart('monthly');
  }
}
</script>