<template>
  <div>
        <slot :getchartdata="getInfoChart" :data="data" :search="search" :export="exportcvs"> </slot>
  </div>
</template>

<script>

export default {
  name:'index',
  data() {
    return {
      data:{
        reportSelected:'',
        model:[],
        search:{
          year: new Date().getFullYear(),
          requested: 'Mostrando los 30 ingresos mas recientes',
          total: 0,
          type:'monthly'
        },
        chart:{
          search:{
            year: new Date().getFullYear(),
            month: new Date().getMonth() + 1
          }
        },
        range:{
            current:'weekly',
            options: [
                      {label: 'Año actual', value: 'yearly'},
                      {label: 'Mes actual', value: 'monthly'},
                      {label: 'Semana Actual', value: 'weekly'},
                  ]
        },
        reportType:{
            current:'general',
            options: [
                      {name: 'Semanal', code: 'weekly'},
                      {name: 'Mensual', code: 'monthly'},
                      {name: 'Anual', code: 'yearly'},
                  ]
        },
          currentChartData: {
            labels:[],
            datasets: [
                  {
                      label: '',
                      data: [65, 59, 80, 81, 56, 55, 40],
                      fill: true,
                      borderColor: '#42A5F5',
                      tension: .4
                  },
              ],
              total:0,
          },
          basicOptions: {
              plugins: {
                  legend: {
                      labels: {
                          color: '#495057'
                      }
                  }
              },
              scales: {
                  x: {
                      ticks: {
                          color: '#495057'
                      },
                      grid: {
                          color: '#ebedef'
                      }
                  },
                  y: {
                      ticks: {
                          color: '#495057'
                      },
                      grid: {
                          color: '#ebedef'
                      }
                  }
              }
          },
      },
    }
  },
  methods:{
    changeRange(event){
     this.getInfoChart(event.value);
    },
    getInfoChart(range){

      this.$root.loading(true);
        axios
				.post('/ajax/get-info-chart-incomes',{
          year: this.data.chart.search.year
        })
				.then((response) => {
          if(response.data.success){
            this.data.currentChartData.datasets[0].data = response.data.data.datasets;
            this.data.currentChartData.labels = response.data.data.labels
            this.data.currentChartData.total = response.data.data.total;
           this.data.currentChartData.datasets[0].label = "Utilidad por mes";
            
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
          

    },
    exportcvs(reference) {
      this.$root.$refs[reference].exportCSV();
    },
    search(){
      if(this.data.search.start  == null|| this.data.search.end == null){
         this.$root.alert("error", "Upps..", "Selecciona las fechas correctas");
      }else {
       this.$root.loading(true);
          axios
          .post('/ajax/get-reports-incomes',{
            year: this.data.search.year,
            type: this.data.search.type
          })
          .then((response) => {
            if(response.data.success){
              this.data.reportSelected = this.data.search.type;
              this.data.model = response.data.data;
              this.data.search.total = response.data.data.total;

              this.data.search.requested = "";
            }
            this.$root.loading(false);
          }).catch((error) => {
            this.$root.alert("error", "Upps..", error);
            this.$root.loading(false);
          })
      }
        
      
    }
  },
  mounted(){
    const date = new Date();
    this.data.search.start = new Date(date.getFullYear(), date.getMonth(), 1);
    this.data.search.end = new Date(date.getFullYear(), date.getMonth() +1, 0);
    this.search();
    this.getInfoChart('monthly');
  }
}
</script>