@import "./grid.scss";
@import "./menu.scss";
@import "./salesForm.scss";
@import "./primevue.scss";
@import "./global.scss";

html {
    font-size: 14px;
}
.quotation-header{
    padding: 1rem;
    background: #ff6566;
    color: white;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.export-pdf-button{
    background-color: $main-red-color !important;
    border: 1px solid $main-red-color !important
}
.center-logo-title{
    display: flex;
    align-items: center;
}
.justify-end {
    display: grid;
    justify-content: end;
}
.max-height-logo{
    max-height: 100px;
}
.isopo-card{
    width: 6rem;
    position: absolute;
    top: 10px;
    left: 10px;
    filter: brightness(0) invert(1);
    opacity: 0.5;
}
.isopo-card-large{
    width: 6rem;
    position: absolute;
    top: 10px;
    left: 10px;
    filter: brightness(0) invert(1);
    opacity: 0.5;
}
.isopo-card-options-card{
    width: 6rem;
    position: absolute;
    /* top: 10px; */
    /* left: 10px; */
    right: 10px;
    opacity: 0.1;
    bottom: 10px;
}
.header-options-card{
    background: #0870d8;
    color: white;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    span{
        font-size: 1.2rem;
        font-weight: 200;
    }
}
.options-card {
    transition: all .4s;
}
.options-card:hover{
    transform: translateY(2px);
}
body {
    font-family: 'Gilroy' !important;
    // background-color: rgb(243 244 246);
    margin: 0;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background-color: var(--surface-ground);
    font-weight: 400;
    color: $main-text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.no-shadow{
    box-shadow: none !important;
}
.big-icon-button{
    width: 3rem !important; 
    height: 3rem !important;
    span{
        font-size: 2rem !important;
        font-weight: bolder;
    }
}
.br-20{
   border-radius:  20px !important;
}
.card-page-title{
    height: 120px;
    background: $main-color !important;
    color: white !important;
    border-radius: 20px !important;
    border: none !important;
    //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden;
}
.card-page-title-white{
    height:  120px;
    background: white !important;
    border-radius: 20px !important;
    color: $main-color !important;
    //border: none !important;
  //  box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 10%) !important;
    overflow: hidden;
}
.card-page-title-red{
    height:  120px;
    background: $main-red-color !important;
    border-radius: 20px !important;
    color: white !important;
    //border: none !important;
  //  box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 10%) !important;
    overflow: hidden;
}
.main-b{
    background: #0870d8 !important;
}
.full-w{
    width: 100%;
}
.main-blue-color{
   color: rgb(7, 112, 216) !important;
}
.link{
    text-decoration: none;
    color: var(--primary-color);
}
.employee-label-switch{
    right: 3.5rem;
    font-weight: 600;
}
.active-employee{
    color: green !important;
}
.inactive-employee{
    color: rgb(181, 23, 23) !important;
}

.text-error{
    color: var(--red-600)
}
.h-full{
    height: 100%;
}
.form-properties {
    .p-float-label {
        margin-top: 1.8rem;
    }
    .switch-label label {
        margin-left: 3rem;
    }
    
}

.form-margin {
    margin-top: 1.8rem;
}

.links-card .p-card-content {
    position: relative !important;
}
.links-card{
    .h-70 {
        min-height: 70px;
        max-height: 70px;
    }
}
.loading-spinner{
    display: block;
    position: absolute;
    margin: auto;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
}
.flex-row{
    gap:1rem;
}

.mouse{
    cursor: pointer;
}

.icon-card {
    font-size: 2rem !important;
    float: left;
}
.total-amount{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

}
.title-banner{
    background-color: cornflowerblue;
    color: white;
    position: absolute;
    width: 100%;
    top: 1rem;
}
.banner-margin{
    padding-top: 5rem;
}

.comision-empty-banner{
    background-color: #f8f9fa;
    padding: 3rem 1rem 3rem 1rem;
    text-align: center;
    border-radius: 6px;
}

.comision-banner{
    background-color: #f8f9fa;
    padding: 3rem 1rem 3rem 1rem;
}

.row-commission{
    background-color: white;
    padding: .4rem;
    border-radius: 6px;
}

.p-inputnumber{
    width: 100%;
}

.subtotal-amount{
    font-size: 20px;
    font-weight: 200;
}
.f-h {
    min-height: 76vh;
}

.login-box{
    justify-content: center;
    height: 90vh;
    min-height: 100%;
    align-items: center;
}
.badge-QUOTATION{
    color: white;
    background-color: #f59e0c !important;
}

.badge-FREE{
    color: white;
    background-color: #3b82f6 !important;
}

.badge-PAID{
    color: white;
    background-color: #22c55e !important;
}

.badge-UNPAID{
    color: white;
    background-color: #ef4544 !important;
}

.products-container{
    margin-top: 3rem;
    margin-bottom: 2rem;
    .p-datatable {
        border-radius: 0px;
        border-collapse: collapse;
        overflow: hidden;
        position: relative;
        //box-shadow: 0 7px 5px 0 rgb(0 0 0 / 5%), 0 4px 11px 0 rgb(0 0 0 / 5%), 0 4px 11px 0 rgb(0 0 0 / 5%), 0 4px 11px 0 rgb(0 0 0 / 5%);
    }
    .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
        font-size: 12px !important;
    
        padding-left: 10px !important;
        color: $main-text-color !important;
    }
    
    .p-datatable .p-datatable-thead > tr > th {
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #dee2e6 !important;
        border-width: 1px !important;
        font-weight: 400;
        color: black !important;
        background: #f7f7f7 !important;
    
         box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 20%); 
        transition: box-shadow 0.2s;
        /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
    }
}