
#menu-sidebar{
    min-width: 300px;
    max-width: 300px;
    position: fixed;
    height: 100%;
    transform: translateY(-1rem);
    a {
        text-decoration: none;
        color: #828282;
       
    }
    a:hover {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
    z-index: 1;

    
    background-color: white;
    //box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
   
}
.menu-sidebar-mobile{
    display: none;
}
#app {
    min-height: 100vh;
    margin-left: -8px;
    margin-top: -8px;
}
.main-container{
    padding-left: 300px;
    flex: 1 1 auto!important;
    position: relative;
   
}
.icon-to-right{
    position: absolute;
    right: 10px;
}
.main-container-mobile{
    padding-left: 0px !important;
}
.menu .p-card{
    box-shadow: none;
    background: none;
}
.menu-container{
    margin-top: .5rem;
    padding: .7rem 0rem .7rem .5rem;
    cursor: pointer;
    border-radius: 5px;
    background: #fafafa;
    transition: all .3s;
    position: relative;
}
.menu-container:hover{
    //background: rgb(19,153,236);
    background: #e9ecef;
    //background: linear-gradient(151deg, rgba(19,153,236,1) 0%, rgba(7,112,216,1) 35%, rgba(7,112,216,1) 100%);
    color: #828282;
}
 .active-menu{
    background: rgb(19,153,236);
    background: linear-gradient(151deg, rgba(19,153,236,1) 0%, rgba(7,112,216,1) 35%, rgba(7,112,216,1) 100%);
    color: white;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: start;
     background-color:white;
     min-height: 70px;
     margin-top: 1rem;
     margin-left: 1rem;

}

.content-container{
    padding: 3.25rem;
}

.menu-burguer {
    .p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger > .p-button:enabled:focus, .p-splitbutton.p-button-danger > .p-button:enabled:focus {
        box-shadow: none !important;
    }
}