@import './global.scss';
.p-component{
    font-family: 'Gilroy', sans-serif !important;
}
.card-title-small{
    .p-card-title{
        font-size: 1.1rem !important;
    }
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: white !important;
}
.p-inputtext{
    height: 32px;
    width: 100%;
    border-radius: 10px !important;
    background: #f7f7f7 !important;
    color: #747374 !important;
     padding-top: 1.2rem !important;
     padding-bottom: 1.2rem !important;
    border: none !important;
    box-shadow: inset 0 0 3px 4px #d4d1d124;
  
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgb(7 112 216) !important;
    border-color: $main-color;
}
.p-calendar{
    height: 32px;
    width: 100% !important;
    border-radius: 6px !important;
  
}
.p-card {
    border-radius: 6px !important;
    position: relative;
}
.p-badge.success-chip {
    background: var(--green-600);
    color: var(--primary-color-text);
    font-size: 12px;
}
.p-badge.danger-chip {
    background: var(--red-600);
    color: var(--primary-color-text);
    font-size: 12px;
}


.p-breadcrumb {
    border: none !important;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .p-menuitem-link {
        text-decoration: none;
    }
}
.p-message.p-message-error {
    .p-message-text{
        color: #ff5757;
        font-size: 12px !important;
        font-weight: 500;
    }
    .p-message-icon{
        color: #ff5757 !important;
    }
   
    background: #ffe7e6 !important;
    border: solid #ff5757 !important;
    border-width: 0 0 0 6px !important;
    
}

.p-message.p-message-success {
    .p-message-icon{
        color: #1ea97c !important;
    }
    .p-message-text{
        color: #1ea97c;
        font-size: 12px !important;
        font-weight: 500;
    }
   
    background: #e4f8f0 !important;
    border: solid #22c55e !important;
    border-width: 0 0 0 6px !important;
    
}

.field-radiobutton label{
    font-size: 14px !important;
}
.p-button{
    //border-radius: 6px !important;
    transition: all .2s  !important;

}
.p-button:hover{
    transform: translateY(2px);
}
.p-float-label label {
   font-size: 14px;
}

.p-inputtextarea {
    height: auto !important;
}

//table

.p-datatable {
    cursor: pointer;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    //box-shadow: 0 7px 5px 0 rgb(0 0 0 / 5%), 0 4px 11px 0 rgb(0 0 0 / 5%), 0 4px 11px 0 rgb(0 0 0 / 5%), 0 4px 11px 0 rgb(0 0 0 / 5%);
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    font-size: 12px !important;

    padding-left: 10px !important;
    color: $main-text-color !important;
}

.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: none !important;
    border-width: 0px !important;
    font-weight: 600;
    color: white !important;
    background: $main-color !important;

    /* box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 20%); */
    transition: box-shadow 0.2s;
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
}
.p-datatable-responsive-scroll > .p-datatable-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}
.p-dropdown-clear-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    margin-right: 0.5rem;
}
.p-dropdown:not(.p-disable).p-focus{
    box-shadow: 0 0 0 0.2rem rgb(7 112 216) !important;
}
.p-dropdown{
    min-width: 100%;
    height: 34px;
    width: 100%;
    border-radius: 10px !important;
    background: #f7f7f7 !important;
   
    
    border: none !important;
    box-shadow: inset 0 0 3px 4px #d4d1d124;

    .p-dropdown-trigger {
        background: #ececec !important;
        color: #747374 !important;
        width: 2.357rem;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        box-shadow: inset 0 0 3px 4px #d4d1d124;

    }
    .p-inputtext{
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

}
.p-multiselect{
    min-width: 100%;
    height: 34px;
    width: 100%;
    border-radius: 10px !important;
    background: #f7f7f7 !important;
   
    
    border: none !important;
    box-shadow: inset 0 0 3px 4px #d4d1d124;

    .p-multiselect-trigger {
        background: #ececec !important;
        color: #747374 !important;
        width: 2.357rem;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        box-shadow: inset 0 0 3px 4px #d4d1d124;

    }
    .p-inputtext{
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
}

.p-checkbox .p-checkbox-box {
    border-radius: 6px !important;
}

.add-button{
    .p-button.p-button-text {
        font-size: 12px;
        padding-left: 0;
    }
}

.p-sidebar-content{
    overflow-x: hidden;
}
.pi-bars{
    font-size: 1.5rem !important;
}


