<template>
{{reForm}}
{{totalsNumbers}}
    <slot 
    :submit="submit"
    :totalcommission="totalCommission" 
    :opencommissions="openCommissions" 
    :deletecompany="deleteCompany" 
    :clients="allClients" 
    :openclients="openclients" 
    :totals="totals" 
    :categories="allCategories" 
    :opensidebar="openSidebar" 
    :form="form"
    :deleteemployee="deleteEmployee"
    :taxes="taxes"
    :folio="folioComputed"
    :oncelleditcomplete="onCellEditComplete"
    :columns="columns"
    :data="data"
    :nextelement="nextElement"
    :paymentTypes="paymentTypes"
    :deleteproduct="deleteProduct"
    :openproducts="openProducts"
    
    >
    
    </slot>
   <p-dialog>
    </p-dialog>
    <categories   @category="addNewCategories" ref="categories"></categories>
    <p-sidebar position="right" :base-z-index="1000" showCloseIcon="false" v-model:visible="isVisible">       
           <div class="row  form-properties">
             <div class="col-sm-12">
               <h3>Agregar cliente</h3>
             </div>
               <div class="col-sm-12">
                  <span class="p-float-label">
                      <p-input  :class="error.isInvalid" id="name" v-model="client.name"></p-input>
                      <label for="name">Nombre*</label>
                  </span>
                  <small class="text-error">{{error.message}}</small>
               </div>
               <div class="col-sm-12">
                  <span class="p-float-label">
                      <p-input   id="rfc" v-model="client.rfc"></p-input>
                      <label for="rfc">RFC</label>
                  </span>
               </div>
               <div class="col-sm-12 mt-3">
                <p-button icon="pi pi-check" label="Guardar" class="mr-2 p-button-success p-button-sm" @click="saveForm()"></p-button>
               </div>
               <div class="col-sm-12 mt-3">
                 <a class="link" href="/clients/client">Agregar cliente a detalle</a>
               </div>
           </div>
      </p-sidebar>
      <p-sidebar position="right" :base-z-index="1000" showCloseIcon="false" v-model:visible="isVisibleCommissions">       
           <div class="row  form-properties">
             <div class="col-sm-12">
               <h3>Agregar empleado a comision</h3>
             </div>
               <div class="col-sm-12">
                    <span class="p-float-label">
                        <p-dropdown @change="changeEmployee" id="commissions" :filter="true" v-model="employeeSelected" :options="employeesList" :option-label="(x => x.name + ' ' + x.last_name)" option-value="id" ></p-dropdown>                            
                        <label for="state">Empleados</label>
                    </span>
                     <small class="text-error">{{error.commission.employee}}</small>
                </div>
                 <div class="col-sm-12">
                    <span class="p-float-label">
                        <p-inputnumber name="amount"  id="amount" type="text" v-model="commissionAmount" ></p-inputnumber>
                        <label for="state">Comision %</label>
                    </span>
                    <small class="text-error">{{error.commission.amount}}</small>
                </div>
                 <div class="col-sm-12">
                    <span class="p-float-label">
                        <p-input name="notes"  id="notes" type="text" v-model="commissionNotes" ></p-input>
                        <label for="state">Notas</label>
                    </span>
                    <small class="text-error">{{error.commission.note}}</small>
                </div>
               <div class="col-sm-12 mt-3">
                <p-button icon="pi pi-check" label="Guardar" class="mr-2 p-button-success p-button-sm" @click="saveEmployee()"></p-button>
               </div>
           </div>
      </p-sidebar>

       <p-sidebar position="right" :base-z-index="1000" showCloseIcon="false" v-model:visible="sidebar.products.isVisible">
            
           <div class="row form-properties">
             <div class="col-sm-12">
               <h3>Agregar producto o servicio</h3>
             </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                    <p-input  :class="error.isInvalid" id="name" v-model="sidebar.products.product.name"></p-input>
                    <label for="name">Producto</label>
                </span>
                <small class="text-error">{{error.message}}</small>
               </div>
               <div class="col-sm-12 ">
                    <span class="p-float-label">
                        <p-textarea rows="5" cols="30" name="description"  id="description" type="text" v-model="sidebar.products.product.description" ></p-textarea>
                        <label for="description">Descripción</label>
                    </span>
                </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                     <p-inputnumber currency="USD" name="cash" id="locale-us" v-model="sidebar.products.product.price" mode="decimal" locale="en-US" :min-fraction-digits="2"></p-inputnumber>
                    <label for="name">Precio Unitario</label>
                </span>
               </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                  <p-dropdown id="taxes"  v-model="sidebar.products.product.type" 
                  :options="sidebar.products.productTypes" option-label="label" 
                  option-value="value" ></p-dropdown>                                                
                  <label for="name">Tipo</label>
                </span>
               </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                  <p-dropdown id="taxes"  v-model="sidebar.products.product.taxes" :options="$root.taxes" option-label="name" option-value="code" ></p-dropdown>                                                
                  <label for="name">Impuestos</label>
                </span>
               </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                     <p-inputnumber currency="USD" name="purchase_price" id="locale-us" v-model="sidebar.products.product.purchase_price" mode="decimal" locale="en-US" :min-fraction-digits="2"></p-inputnumber>
                    <label for="name">Costo</label>
                </span>
               </div>
               <div class="col-sm-12 mt-3">
                <p-button label="Guardar" class="full-w p-button-success p-button-sm" @click="saveProductForm()"></p-button>
               </div>
           </div>
        </p-sidebar>
       
</template>

<script>
import categories from '../config/Categories.vue'
export default {
  name:'salesForm',
  props:['has_erros','sale', 'categories', 'clients', 'employees', 'folio', 'products'],
  components:{
    categories
  },
  data() {
    return {
       data:{
          allProducts:[],
        },
      sidebar:{
       
        products:{
          productTypes:[
            {value: 'PRODUCT', label:'Producto'},
            {value: 'SERVICE', label:'Servicio'}
          ],
          product:{id:null},
          isVisible:false,
        }
        
      },
      
      totals:{
        total:0,
        subtotal:0,
        taxes:0,
        discount:0
      },
      paymentTypes:[
        {
          id: 'cash',
          name:'Efectivo'
        },
        {
          id: 'card',
          name:'Tarjeta'
        },
        {
          id: 'transfer',
          name:'Transferencia'
        }
      ],
      
      columns:[
        {
          product:null,
          price:null,
          quiantity: null,
          taxes:null,
          discount:null
        }
      ],
      lastFolio:'0',
      taxes:[
         {
          name: 'Ninguno 0%',
          code: 'none',
          tax:0
        },
        {
          name: 'IVA 16%',
          code: 'IVA-16',
          tax:16
        },
         {
          name: 'IVA 8%',
          code: 'IVA-8',
          tax:8
        },
         {
          name: 'IVA 0%',
          code: 'IVA-0',
          tax:0
        },
         {
          name: 'IEPS 8%',
          code: 'IEPS-8',
          tax:8
        },
         {
          name: 'IEPS 0%',
          code: 'IEPS-0',
          tax:0
        }
      ],
      commissionAmount:null,
      commissionNotes:null,
      employeeSelected:null,
      employeesList:[],
      isVisibleCommissions:false,
      client:{
        name:null,
        rfc: null,
        payment_type: 'client',
        active: "on",
      },
      allClients:[],
      clientName: null,
      clientRFC: null,
      isVisible:false,
      tempProducts: [],
        allCategories:[],
        error:{ 
            isInvalid: null,
            message:null,
            commission:{
              amount:'',
              employee:'',
              note:''
            }
          },
        nameCategory:null,
        form:{
          id: null,
          date: new Date(),
          paid: "on",
          free: "off",
          clients:null,
          categories:null,
          commissions_name:[],
          quotation: false,
          taxes: 'none',
          taxes_amount:0,
          folio:'',
          payment_type:'cash',
          products:[
            {
              product:null,
              price:null,
              quantity: null,
              taxes:null,
              discount:null,
              formatDiscount:null
            }
          ],
      }
    }
  },
  methods:{
    openProducts(){
      this.cleanProduct();
      this.sidebar.products.isVisible = !this.sidebar.products.isVisible;  
     
    },
    saveProductForm(){
     if(this.sidebar.products.product.name && this.sidebar.products.product.name.length > 1){
       this.error.isInvalid = null;
       this.error.message = null;
     }else {
      this.error.isInvalid = "p-invalid";
       this.error.message = "Por favor, ingresa dos o mas caracteres."
       return;
     }

     this.$root.loading(true);
     this.sidebar.products.product.taxesAmount = this.$root.taxes.find(taxes => taxes.code == this.sidebar.products.product.taxes)?.tax; 
    axios
				.post('/ajax/save-product',{
          data: this.sidebar.products.product
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Guardado", "El producto se guardo exitosamente");
            console.log(response.data.data);
            this.data.allProducts = response.data.data;
            this.$emit('product',response.data.data)
           
            this.sidebar.products.isVisible = !this.sidebar.products.isVisible; 
            
          }else{
            this.$root.alert("error", "Upps..", "Algo ocurrio mal");
          }
          this.$root.loading(false);
				}).catch((error) => {
          console.log(error)
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
    deleteProduct(index){
      if(this.form.products && this.form.products.length > 1 && this.form.products[index]?.product !== null){
        this.form.products.splice(index, 1);
      }
    },
      openCommissions(){
        this.isVisibleCommissions = !this.isVisibleCommissions;
    },
    cleanProduct(){
      this.sidebar.products.product.taxes = 'none';
      this.sidebar.products.product.type = 'PRODUCT';
      this.sidebar.products.product.id = null;
      this.sidebar.products.product.purchase_price = null;
      this.sidebar.products.product.name = null;
      this.sidebar.products.product.price = 0;
      this.sidebar.products.product.description = null;
   },
     ajaxDelete(){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-sale',{
          id: id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            window.location.href = "/sales"

           
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
    deleteCompany(props, event) {
         this.$confirm.require({
                message: 'Deseas eliminar este ingreso?',
                header: 'Eliminar',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.ajaxDelete();
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });
    },
    saveForm(){
      if(this.client.name && this.client.name.length > 1){
            this.error.isInvalid = null;
            this.error.message = null;
          }else {
              this.error.isInvalid = "p-invalid";
               this.error.message = "Por favor, ingresa dos o mas caracteres."
            return;
          }
          this.$root.loading(true);
          axios
              .post('/clients/save-company',{
                name: this.client.name,
                rfc: this.client.rfc,
                isAjax: true,
                company_type: 'client',
                active: 'on'
              })
              .then((response) => {
                if(response.data.success){
                  this.$root.alert("success", "Guardado", "El proveedor se guardo exitosamente");
                  this.client.name = null;
                  this.client.rfc = null;
                  const res = response.data.data;
                  this.allClients = res;
                  this.form.clients = res[res.length -1 ].id;
                  this.isVisible = !this.isVisible; 
                }else{
                  this.$root.alert("error", "Upps..", "Algo ocurrio mal");
                }
                this.$root.loading(false);
              }).catch((error) => {
                console.log(error)
                this.$root.alert("error", "Upps..", error);
                this.$root.loading(false);
              })
    },
    addNewCategories(data){
      this.allCategories = data;
      this.form.categories = data[data.length -1 ].id;
    },
    openSidebar(){
      console.log(this.$refs.categories.showForm());
    },
    openclients(){
      this.isVisible = !this.isVisible;
    },
    changeEmployee(event){
      const employee = this.employeesList.find(e => e.id == event.value);
      this.commissionAmount = employee.commission;
    },
    isValidEmployee(){
      let isValid = true;
      if(this.commissionAmount && this.commissionAmount > 0){
          this.error.commission.amount = '';
      }else{
          this.error.commission.amount = 'La comision debe ser mayor a 0';
          isValid = false;
      }
      if(this.employeeSelected){
          this.error.commission.employee = '';
      }else{
        this.error.commission.employee = 'Seleccione empleado'
        isValid = false;
      }

      return isValid;
    },
    submit(event, quotation){
      event.preventDefault();
      
      document.getElementById("commissions").value = this.form.commissions_name.length  == 0 ?[] :JSON.stringify(this.form.commissions_name);
      document.getElementById("products").value = JSON.stringify(this.form.products);
      document.getElementById("quotation").value = quotation ? true : false;
      document.getElementById("sales-form").submit();
    },
    saveEmployee(){
        if(!this.isValidEmployee()){
          return;
        }

        const employeeSelected = this.employeesList.find(e => e.id == this.employeeSelected)
        const employee = {
        'name': employeeSelected.name + ' ' +employeeSelected.last_name,
        'employee_id': employeeSelected.id,
        'commission': this.commissionAmount,
        'note':this.commissionNotes
      };
      this.form.commissions_name.push(employee);
      this.isVisibleCommissions = !this.isVisibleCommissions;
    },
   
    totalCommission(commission){      
      console.log(parseFloat(this.totals.total) , ' * ' + ( parseFloat(commission) / 100));
        return parseFloat(this.totals.total)  * ( parseFloat(commission) / 100);
    },
   
    deleteEmployee(index){
      this.form.commissions_name.splice(index, 1);
    },
    setSaleProperties(){
      this.lastFolio = this.folio;
      this.allCategories = this.categories;
      this.allClients = this.clients;
      this.employeesList = this.employees;
      this.data.allProducts = this.products;
    },
    getTaxesByCode(taxes){
      return this.taxes.find( p =>(p.code == taxes))
    },
    getTaxesByName(taxes){
      return this.taxes.find( p =>(p.name == taxes))
    },
    getProduct(name){
      return this.data.allProducts.find( p =>(p.name == name))
    },
    getProductById(id){
      return this.data.allProducts.find( p =>(p.id == id))
    },
    nextElement(event){
      setTimeout(function() {
        document.getElementById("description").focus();
      }, 100);
      

    },
    setProductProperties(field, data, newValue){
      const product = this.getProduct(newValue);
      const taxes = this.getTaxesByCode(product.taxes);

      data[field] = newValue;
      data['product_id'] = product.id;
      data['formatPrice'] = this.$root.currencyFormat(product.price);
      data['price'] = parseFloat(product.price);
      data['description'] = product.description;
      data['quantity'] = 1;
      data['sku'] = product.sku;
      data['formatTotal'] = this.$root.currencyFormat(product.price * data['quantity']);
      data['total'] = product.price * data['quantity'];
      data['formatTaxes'] = taxes.name;
      data['taxes'] = taxes.code;
    data['formatDiscount'] = '';
    },
    setTaxesProperties(field, data, newValue){
      data['taxes'] = this.getTaxesByName(newValue)?.code;
      data[field] = newValue;
    },
    setQuantityProperties(field, data, newValue){
      const quantity = isNaN(parseFloat(newValue)) ? 0 : parseFloat(newValue);
      data['total'] = quantity * parseFloat(data['price'])
      data['formatTotal'] = this.$root.currencyFormat( quantity * data['price']);
      data[field] = quantity;

      const isPercentage = data['formatDiscount'].includes('%') ?? false;
      const onlyValue = parseFloat(data['formatDiscount']);
      data['discount'] = isPercentage ? (onlyValue /100 ) * parseFloat(data['total']) : onlyValue;
    },
    setPriceProperties(field, data, newValue){
      const amount = parseFloat(parseFloat(newValue.replaceAll(',','')));
      data['price'] = amount;
      data['total'] = parseInt(data['quantity']) * amount;
      data['formatTotal'] = this.$root.currencyFormat( parseInt(data['quantity']) * amount);
      data[field] = this.$root.currencyFormat(amount);
      const isPercentage = data['formatDiscount'].includes('%');
      const onlyValue = parseFloat(data['formatDiscount']);
      data['discount'] = isPercentage ? (onlyValue /100 ) * parseFloat(data['total']) : onlyValue;
    },
    setDiscountProperties(field, data, newValue){
      const isPercentage = newValue.includes('%');
      const onlyValue = parseFloat(newValue);
      data['discount'] = isPercentage ? (onlyValue /100 ) * parseFloat(data['total']) : onlyValue;
      data[field] = onlyValue + (isPercentage ? '%' : '');
    },
     onCellEditComplete(event) {
            let { data, newValue, field, index } = event;
            const isNewRow = (index + 1) == this.form.products.length;
            switch (event.field) {
                case 'product':
                    if (newValue &&  newValue.toString().trim().length > 0){
                      if(data[field] !== newValue){
                        this.setProductProperties(field, data, newValue);
                      }
                        if(isNewRow){
                          this.addEmptyProduct();
                        }
                    }
                break;
                case 'formatTaxes':
                       if (newValue &&  newValue.toString().trim().length > 0){
                        this.setTaxesProperties(field, data, newValue);
                    }
                break;
                case 'quantity':
                       if (newValue &&  newValue.toString().trim().length > 0){
                        this.setQuantityProperties(field, data, newValue);
                       }
                 break;
                 case 'formatPrice':
                       if (newValue &&  newValue.toString().trim().length > 0){
                        this.setPriceProperties(field, data, newValue);
                       }
                 break;
                 case 'formatDiscount':
                       if (newValue &&  newValue.toString().trim().length > 0){
                        this.setDiscountProperties(field, data, newValue);
                       }else{
                        data['discount'] = 0;
                        data[field] = null;
                       }
                 break;
                default:
                    if (newValue &&  newValue.toString().trim().length > 0){
                        data[field] = newValue;
                    }
                break;
            }
          this.setSuperTotalPrice(data);
        },
        setSuperTotalPrice(data){

          const total = parseFloat(data['total']);
          const discount =  isNaN(parseFloat(data['discount'])) ? 0 : parseFloat(data['discount']);
          const taxes = (this.$root.$data.taxes.find(x => x.code == data['taxes'])?.tax / 100) + 1;
          data['superSubTotal'] = total - discount;
          data['superTotal'] = (total - discount) * taxes;
          data['taxesAmount'] = (total - discount) * (taxes - 1);

        },
        addEmptyProduct(){
          this.form.products.push(
            {
              product:null,
              price:null,
              quantity: null,
              taxes:null,
              description:null,
              sku:null,
              discount:null,
              formatPrice: null,
              formatTaxes: null,
              formatDiscount:null
            }
          )
        },
        setProducts(){
          let products = [];
          Array.from(this.tempProducts).forEach( x =>{
            const total = x.quantity * x.price;
            const discount =  isNaN(parseFloat(x.discount)) ? 0 : parseFloat(x.discount);
            const taxesCode = this.$root.$data.taxes.find(d => d.code == x.taxes);
            const taxes = (taxesCode?.tax / 100) + 1;
            products.push(
              {
                "product": this.getProductById(x.product_id)?.name,
                "price": x.price,
                "quantity": x.quantity,
                "taxes": x.taxes,
                "discount": x.discount,
                "product_id": x.product_id,
                "formatPrice": this.$root.currencyFormat(x.price),
                "description": x.description,
                "formatTotal": this.$root.currencyFormat(x.price * x.quantity),
                "total": total,
                "formatTaxes": taxesCode?.name,
                "formatDiscount": x.format_discount,
                "superSubTotal": total - discount,
                "superTotal": (total - discount) * taxes,
                "taxesAmount": (total - discount) * (taxes - 1)
              }
            )
          })
         
          this.form.products = products;
          this.addEmptyProduct();
        }
  },
  computed:{
    folioComputed(){
      return this.lastFolio.padStart(6, "0");
    },
    
    totalsNumbers(){
      let total = 0, subtotal = 0, taxes = 0, discount = 0;
      console.log(this.form.products);    
      if( this.form.products){
        Array.from(this.form.products).forEach(product => {
        if(product.product_id){
          total += product.superTotal;
          discount += product.discount;
          taxes += product.superTotal - product.superSubTotal ;
          subtotal += product.superSubTotal;
        }
      });

      this.totals.total = total;
      this.totals.taxes = taxes;
      this.totals.subtotal = subtotal;
      this.totals.discount = discount;
      }      
    },
    reForm(){
      
     if(this.sale.length > 2){
        const sale = JSON.parse(this.sale);
        console.log("sale", sale);
        this.form  = sale;
        if(sale.products){
          this.form.products = JSON.parse(sale.products);
        }else{
           this.tempProducts = sale.payments;
           this.setProducts();
        }
        
      
       
       

        this.lastFolio = sale.folio ? sale.folio : "";
        this.form.clients = parseInt(sale.clients);
         this.form.categories = parseInt(sale.categories);
        this.form.paid = sale.status == "PAID" ? "on" : "off";
        this.form.free = sale.status == "FREE" ? "on" : "off";
     }
   }
  },
  created(){
    this.setSaleProperties();
  }
}
</script>