<template>
  <div>
    <slot :products="products"></slot>
  </div>
</template>

<script>
export default {
  name:'salestable',
  data() {
    return {
      message: "hola",
      products: [
        {"brand": "Volkswagen", "year": 2012, "color": "Orange", "vin": "dsad231ff"},
        {"brand": "Audi", "year": 2011, "color": "Black", "vin": "gwregre345"},
        {"brand": "Renault", "year": 2005, "color": "Gray", "vin": "h354htr"},
      ]
    }
  }
}
</script>