<template>
  <div class="row card-title-properties">
    <div class="col-sm-12 text-center">
      <card :class="classes" class="no-shadow" style="position: relative">
        <template #content>
            <img :class="imgClasses" src="/images/logo-ongesti-isopo.png" 
            class="isopo-card" alt="">
            <h2>{{title}}</h2>
        </template>
      </card>
    </div>
  </div>
</template>

<script>

export default {
  name:'cardTitle',
  props:['title', 'color', 'filter'],
  data() {
    return {
    }
  },
  computed:{
    classes(){
      return [{
        "card-page-title-white": this.color == "white",
        "card-page-title": this.color == "blue",
        "card-page-title-red": this.color == "red",
        }
      ]
    },
    imgClasses(){
      return [{
        "no-filter": this.filter,
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.no-filter {
  filter: blur() !important;
}
.card-title-properties{
  h2{
    font-weight: 200 !important;
  }
}
</style>