@font-face {
    font-family: "icons";
    src: url("./icons.woff2?f66f1f4818bee3b504277637d6681549") format("woff2"),
url("./icons.woff?f66f1f4818bee3b504277637d6681549") format("woff"),
url("./icons.ttf?f66f1f4818bee3b504277637d6681549") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-3ds-alt:before {
    content: "\f101";
}
.icon-3ds:before {
    content: "\f102";
}
.icon-activate:before {
    content: "\f103";
}
.icon-activity:before {
    content: "\f104";
}
.icon-answer:before {
    content: "\f105";
}
.icon-app-store:before {
    content: "\f106";
}
.icon-apple:before {
    content: "\f107";
}
.icon-ask-question:before {
    content: "\f108";
}
.icon-aws:before {
    content: "\f109";
}
.icon-back:before {
    content: "\f10a";
}
.icon-badge-fingerprint:before {
    content: "\f10b";
}
.icon-badge-package:before {
    content: "\f10c";
}
.icon-badge-shield:before {
    content: "\f10d";
}
.icon-bank-account:before {
    content: "\f10e";
}
.icon-bank-cards:before {
    content: "\f10f";
}
.icon-bank:before {
    content: "\f110";
}
.icon-barcode:before {
    content: "\f111";
}
.icon-basket:before {
    content: "\f112";
}
.icon-bin-card:before {
    content: "\f113";
}
.icon-brain:before {
    content: "\f114";
}
.icon-browser-chrome:before {
    content: "\f115";
}
.icon-browser-default:before {
    content: "\f116";
}
.icon-browser-edge:before {
    content: "\f117";
}
.icon-browser-firefox:before {
    content: "\f118";
}
.icon-browser-ie:before {
    content: "\f119";
}
.icon-browser-opera:before {
    content: "\f11a";
}
.icon-browser-safari:before {
    content: "\f11b";
}
.icon-bug:before {
    content: "\f11c";
}
.icon-calendar-event:before {
    content: "\f11d";
}
.icon-calendar:before {
    content: "\f11e";
}
.icon-call-list:before {
    content: "\f11f";
}
.icon-card-amex:before {
    content: "\f120";
}
.icon-card-banrural:before {
    content: "\f121";
}
.icon-card-diners_club:before {
    content: "\f122";
}
.icon-card-discover:before {
    content: "\f123";
}
.icon-card-jcb:before {
    content: "\f124";
}
.icon-card-mastercard:before {
    content: "\f125";
}
.icon-card-unionpay:before {
    content: "\f126";
}
.icon-card-visa:before {
    content: "\f127";
}
.icon-card-wallet:before {
    content: "\f128";
}
.icon-cash-register:before {
    content: "\f129";
}
.icon-certificate:before {
    content: "\f12a";
}
.icon-chatbot:before {
    content: "\f12b";
}
.icon-checkmark:before {
    content: "\f12c";
}
.icon-chip-card:before {
    content: "\f12d";
}
.icon-chip:before {
    content: "\f12e";
}
.icon-circle:before {
    content: "\f12f";
}
.icon-clipboard:before {
    content: "\f130";
}
.icon-clock:before {
    content: "\f131";
}
.icon-cloud-offline:before {
    content: "\f132";
}
.icon-cloud:before {
    content: "\f133";
}
.icon-coins:before {
    content: "\f134";
}
.icon-comment-3ds:before {
    content: "\f135";
}
.icon-comment-afs:before {
    content: "\f136";
}
.icon-comment-avs:before {
    content: "\f137";
}
.icon-comment-cavv:before {
    content: "\f138";
}
.icon-comment-cavvf:before {
    content: "\f139";
}
.icon-comment-cavvw:before {
    content: "\f13a";
}
.icon-comment-cvn:before {
    content: "\f13b";
}
.icon-comment-error:before {
    content: "\f13c";
}
.icon-comment-info:before {
    content: "\f13d";
}
.icon-comment-pos:before {
    content: "\f13e";
}
.icon-comment-val:before {
    content: "\f13f";
}
.icon-configuration:before {
    content: "\f140";
}
.icon-connected:before {
    content: "\f141";
}
.icon-copy:before {
    content: "\f142";
}
.icon-credit-card:before {
    content: "\f143";
}
.icon-crop:before {
    content: "\f144";
}
.icon-crown:before {
    content: "\f145";
}
.icon-cube:before {
    content: "\f146";
}
.icon-cubes:before {
    content: "\f147";
}
.icon-currency-settings:before {
    content: "\f148";
}
.icon-cursor:before {
    content: "\f149";
}
.icon-danger:before {
    content: "\f14a";
}
.icon-dark-mode:before {
    content: "\f14b";
}
.icon-dashboard:before {
    content: "\f14c";
}
.icon-data:before {
    content: "\f14d";
}
.icon-debit-card:before {
    content: "\f14e";
}
.icon-decrease-decimal:before {
    content: "\f14f";
}
.icon-delivered-mail:before {
    content: "\f150";
}
.icon-device-android:before {
    content: "\f151";
}
.icon-device-ios:before {
    content: "\f152";
}
.icon-device-linux:before {
    content: "\f153";
}
.icon-device-mac:before {
    content: "\f154";
}
.icon-device-other:before {
    content: "\f155";
}
.icon-device-ubuntu:before {
    content: "\f156";
}
.icon-device-windows:before {
    content: "\f157";
}
.icon-document:before {
    content: "\f158";
}
.icon-double-tick:before {
    content: "\f159";
}
.icon-download-report:before {
    content: "\f15a";
}
.icon-download:before {
    content: "\f15b";
}
.icon-drag-reorder:before {
    content: "\f15c";
}
.icon-drop:before {
    content: "\f15d";
}
.icon-dropdown:before {
    content: "\f15e";
}
.icon-edit:before {
    content: "\f15f";
}
.icon-error:before {
    content: "\f160";
}
.icon-estimate:before {
    content: "\f161";
}
.icon-exchange:before {
    content: "\f162";
}
.icon-external-link:before {
    content: "\f163";
}
.icon-face-id:before {
    content: "\f164";
}
.icon-facebook:before {
    content: "\f165";
}
.icon-file-archive:before {
    content: "\f166";
}
.icon-file-document:before {
    content: "\f167";
}
.icon-file-image:before {
    content: "\f168";
}
.icon-file-video:before {
    content: "\f169";
}
.icon-file:before {
    content: "\f16a";
}
.icon-fill-color:before {
    content: "\f16b";
}
.icon-fill-drip:before {
    content: "\f16c";
}
.icon-filter-alt:before {
    content: "\f16d";
}
.icon-filter:before {
    content: "\f16e";
}
.icon-fingerprint:before {
    content: "\f16f";
}
.icon-flag:before {
    content: "\f170";
}
.icon-format-bold:before {
    content: "\f171";
}
.icon-format-header-1:before {
    content: "\f172";
}
.icon-format-header-2:before {
    content: "\f173";
}
.icon-format-header-3:before {
    content: "\f174";
}
.icon-format-header:before {
    content: "\f175";
}
.icon-format-italic:before {
    content: "\f176";
}
.icon-format-paragraph:before {
    content: "\f177";
}
.icon-format-redo:before {
    content: "\f178";
}
.icon-format-underline:before {
    content: "\f179";
}
.icon-format-undo:before {
    content: "\f17a";
}
.icon-forward:before {
    content: "\f17b";
}
.icon-google-play:before {
    content: "\f17c";
}
.icon-google:before {
    content: "\f17d";
}
.icon-graph:before {
    content: "\f17e";
}
.icon-hand:before {
    content: "\f17f";
}
.icon-handcart:before {
    content: "\f180";
}
.icon-help:before {
    content: "\f181";
}
.icon-idea:before {
    content: "\f182";
}
.icon-identification-documents:before {
    content: "\f183";
}
.icon-image-document:before {
    content: "\f184";
}
.icon-image-gallery:before {
    content: "\f185";
}
.icon-in-transit:before {
    content: "\f186";
}
.icon-inactive-state:before {
    content: "\f187";
}
.icon-increase-decimal:before {
    content: "\f188";
}
.icon-info:before {
    content: "\f189";
}
.icon-insert-money:before {
    content: "\f18a";
}
.icon-instashop:before {
    content: "\f18b";
}
.icon-invisible:before {
    content: "\f18c";
}
.icon-invoice:before {
    content: "\f18d";
}
.icon-job:before {
    content: "\f18e";
}
.icon-js-squared:before {
    content: "\f18f";
}
.icon-key:before {
    content: "\f190";
}
.icon-label:before {
    content: "\f191";
}
.icon-lang-bash:before {
    content: "\f192";
}
.icon-lang-code:before {
    content: "\f193";
}
.icon-lang-cpp:before {
    content: "\f194";
}
.icon-lang-csharp:before {
    content: "\f195";
}
.icon-lang-css:before {
    content: "\f196";
}
.icon-lang-flutter:before {
    content: "\f197";
}
.icon-lang-go:before {
    content: "\f198";
}
.icon-lang-html:before {
    content: "\f199";
}
.icon-lang-ini:before {
    content: "\f19a";
}
.icon-lang-java:before {
    content: "\f19b";
}
.icon-lang-js:before {
    content: "\f19c";
}
.icon-lang-json:before {
    content: "\f19d";
}
.icon-lang-kotlin:before {
    content: "\f19e";
}
.icon-lang-node-js:before {
    content: "\f19f";
}
.icon-lang-objectivec:before {
    content: "\f1a0";
}
.icon-lang-php:before {
    content: "\f1a1";
}
.icon-lang-python:before {
    content: "\f1a2";
}
.icon-lang-ruby:before {
    content: "\f1a3";
}
.icon-lang-swift:before {
    content: "\f1a4";
}
.icon-lang-typescript:before {
    content: "\f1a5";
}
.icon-lang-visual-basic:before {
    content: "\f1a6";
}
.icon-lang-xml:before {
    content: "\f1a7";
}
.icon-left:before {
    content: "\f1a8";
}
.icon-legal:before {
    content: "\f1a9";
}
.icon-licence:before {
    content: "\f1aa";
}
.icon-light-mode:before {
    content: "\f1ab";
}
.icon-link:before {
    content: "\f1ac";
}
.icon-lock:before {
    content: "\f1ad";
}
.icon-mail-bulk:before {
    content: "\f1ae";
}
.icon-mail:before {
    content: "\f1af";
}
.icon-mailbox-full:before {
    content: "\f1b0";
}
.icon-mailbox:before {
    content: "\f1b1";
}
.icon-mailing:before {
    content: "\f1b2";
}
.icon-map:before {
    content: "\f1b3";
}
.icon-marker:before {
    content: "\f1b4";
}
.icon-menu:before {
    content: "\f1b5";
}
.icon-merchant-setting:before {
    content: "\f1b6";
}
.icon-merchant:before {
    content: "\f1b7";
}
.icon-minus:before {
    content: "\f1b8";
}
.icon-modules:before {
    content: "\f1b9";
}
.icon-move:before {
    content: "\f1ba";
}
.icon-network-cable:before {
    content: "\f1bb";
}
.icon-network-group:before {
    content: "\f1bc";
}
.icon-network:before {
    content: "\f1bd";
}
.icon-node-js:before {
    content: "\f1be";
}
.icon-notifications:before {
    content: "\f1bf";
}
.icon-october:before {
    content: "\f1c0";
}
.icon-offline:before {
    content: "\f1c1";
}
.icon-online-support:before {
    content: "\f1c2";
}
.icon-open-box:before {
    content: "\f1c3";
}
.icon-package-tag:before {
    content: "\f1c4";
}
.icon-package:before {
    content: "\f1c5";
}
.icon-paint-brush:before {
    content: "\f1c6";
}
.icon-palette:before {
    content: "\f1c7";
}
.icon-paycheque:before {
    content: "\f1c8";
}
.icon-pending:before {
    content: "\f1c9";
}
.icon-percentage:before {
    content: "\f1ca";
}
.icon-petition:before {
    content: "\f1cb";
}
.icon-phone:before {
    content: "\f1cc";
}
.icon-pie-chart-alt:before {
    content: "\f1cd";
}
.icon-pie-chart:before {
    content: "\f1ce";
}
.icon-pin:before {
    content: "\f1cf";
}
.icon-platform-edit:before {
    content: "\f1d0";
}
.icon-plus:before {
    content: "\f1d1";
}
.icon-power-off:before {
    content: "\f1d2";
}
.icon-prestashop:before {
    content: "\f1d3";
}
.icon-print:before {
    content: "\f1d4";
}
.icon-prize:before {
    content: "\f1d5";
}
.icon-profile:before {
    content: "\f1d6";
}
.icon-qr:before {
    content: "\f1d7";
}
.icon-quickbooks:before {
    content: "\f1d8";
}
.icon-receipt-approved:before {
    content: "\f1d9";
}
.icon-receipt-ticket:before {
    content: "\f1da";
}
.icon-receipt:before {
    content: "\f1db";
}
.icon-receive-cash:before {
    content: "\f1dc";
}
.icon-register:before {
    content: "\f1dd";
}
.icon-report:before {
    content: "\f1de";
}
.icon-resend-mail:before {
    content: "\f1df";
}
.icon-right:before {
    content: "\f1e0";
}
.icon-rotate-left:before {
    content: "\f1e1";
}
.icon-rotate-right:before {
    content: "\f1e2";
}
.icon-rotate:before {
    content: "\f1e3";
}
.icon-ruler:before {
    content: "\f1e4";
}
.icon-safe:before {
    content: "\f1e5";
}
.icon-save-pdf:before {
    content: "\f1e6";
}
.icon-save:before {
    content: "\f1e7";
}
.icon-schedule:before {
    content: "\f1e8";
}
.icon-search-folder:before {
    content: "\f1e9";
}
.icon-search:before {
    content: "\f1ea";
}
.icon-send:before {
    content: "\f1eb";
}
.icon-settings:before {
    content: "\f1ec";
}
.icon-share:before {
    content: "\f1ed";
}
.icon-shield-lock:before {
    content: "\f1ee";
}
.icon-shield-warning:before {
    content: "\f1ef";
}
.icon-shield:before {
    content: "\f1f0";
}
.icon-ship:before {
    content: "\f1f1";
}
.icon-shipping-product:before {
    content: "\f1f2";
}
.icon-shopify:before {
    content: "\f1f3";
}
.icon-shopping-bag:before {
    content: "\f1f4";
}
.icon-shopping-cart:before {
    content: "\f1f5";
}
.icon-shopping:before {
    content: "\f1f6";
}
.icon-sim-card-sensor:before {
    content: "\f1f7";
}
.icon-sim-card:before {
    content: "\f1f8";
}
.icon-stocks-growth:before {
    content: "\f1f9";
}
.icon-suspend:before {
    content: "\f1fa";
}
.icon-sync:before {
    content: "\f1fb";
}
.icon-tag:before {
    content: "\f1fc";
}
.icon-tags:before {
    content: "\f1fd";
}
.icon-test-tube:before {
    content: "\f1fe";
}
.icon-testing:before {
    content: "\f1ff";
}
.icon-themes:before {
    content: "\f200";
}
.icon-ticket:before {
    content: "\f201";
}
.icon-timer:before {
    content: "\f202";
}
.icon-toggle-off:before {
    content: "\f203";
}
.icon-toggle-on:before {
    content: "\f204";
}
.icon-trash-disable:before {
    content: "\f205";
}
.icon-trash:before {
    content: "\f206";
}
.icon-truck:before {
    content: "\f207";
}
.icon-unavailable:before {
    content: "\f208";
}
.icon-up-down-arrow:before {
    content: "\f209";
}
.icon-update:before {
    content: "\f20a";
}
.icon-upload-cloud:before {
    content: "\f20b";
}
.icon-upload:before {
    content: "\f20c";
}
.icon-usb-stick:before {
    content: "\f20d";
}
.icon-user-activity:before {
    content: "\f20e";
}
.icon-user-admin:before {
    content: "\f20f";
}
.icon-user-calendar:before {
    content: "\f210";
}
.icon-user-female:before {
    content: "\f211";
}
.icon-user-group:before {
    content: "\f212";
}
.icon-user-male:before {
    content: "\f213";
}
.icon-user-permissions:before {
    content: "\f214";
}
.icon-user-tag:before {
    content: "\f215";
}
.icon-user:before {
    content: "\f216";
}
.icon-visible:before {
    content: "\f217";
}
.icon-vtex:before {
    content: "\f218";
}
.icon-wallet:before {
    content: "\f219";
}
.icon-webhook:before {
    content: "\f21a";
}
.icon-whatsapp:before {
    content: "\f21b";
}
.icon-wired-network:before {
    content: "\f21c";
}
.icon-withdraw:before {
    content: "\f21d";
}
.icon-woocommerce:before {
    content: "\f21e";
}
