<template>
{{reForm}}
    <slot :folio="folioComputed" :deletecompany="deleteCompany" :providers="allProviders" :openproviders="openProviders" :total="total" :categories="allCategories" :opensidebar="openSidebar" :form="form"></slot>
   <p-dialog>
    </p-dialog>
    <categories   @category="addNewCategories" ref="categories"></categories>
    <p-sidebar position="right" :base-z-index="1000" showCloseIcon="false" v-model:visible="isVisible">       
           <div class="row  form-properties">
             <div class="col-sm-12">
               <h3>Agregar proveedor</h3>
             </div>
               <div class="col-sm-12">
                  <span class="p-float-label">
                      <p-input  :class="error.isInvalid" id="name" v-model="provider.name"></p-input>
                      <label for="name">Nombre*</label>
                  </span>
                  <small class="text-error">{{error.message}}</small>
               </div>
               <div class="col-sm-12">
                  <span class="p-float-label">
                      <p-input   id="rfc" v-model="provider.rfc"></p-input>
                      <label for="rfc">RFC</label>
                  </span>
               </div>
               <div class="col-sm-12 mt-3">
                <p-button icon="pi pi-check" label="Guardar" class="mr-2 p-button-success p-button-sm" @click="saveForm()"></p-button>
               </div>
               <div class="col-sm-12 mt-3">
                 <a class="link" href="/providers/provider">Agregar proveedor a detalle</a>
               </div>
           </div>
      </p-sidebar>
       
</template>

<script>
import categories from '../config/BillsCategories.vue'
export default {
  name:'bilssform',
  props:['bill', 'categories', 'providers', 'folio'],
  components:{
    categories
  },
  data() {
    return {
      lastFolio:'0',
      provider:{
        name:null,
        rfc: null,
        payment_type: 'provider',
        active: "on",
      },
      allProviders:[],
      providerName: null,
      providerRFC: null,
      isVisible:false,
        allCategories:[],
        error:{ 
            isInvalid: null,
            message:null,
          },
        nameCategory:null,
        form:{
          id: null,
          date: new Date(),
          paid: "on",
          providers:[],
          categories:[],
      }
    }
  },
  methods:{
     ajaxDelete(){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-bill',{
          id: id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            window.location.href = "/bills"

           
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
    deleteCompany(props, event) {
      console.log("entro");
         this.$confirm.require({
                message: 'Deseas eliminar este egreso?',
                header: 'Eliminar',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.ajaxDelete();
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });
    },
    saveForm(){
      if(this.provider.name && this.provider.name.length > 1){
            this.error.isInvalid = null;
            this.error.message = null;
          }else {
              this.error.isInvalid = "p-invalid";
               this.error.message = "Por favor, ingresa dos o mas caracteres."
            return;
          }
          this.$root.loading(true);
          axios
              .post('/clients/save-company',{
                name: this.provider.name,
                rfc: this.provider.rfc,
                isAjax: true,
                company_type: 'provider',
                active: 'on'
              })
              .then((response) => {
                if(response.data.success){
                  this.$root.alert("success", "Guardado", "El proveedor se guardo exitosamente");
                  this.provider.name = null;
                  this.provider.rfc = null;
                  const res = response.data.data;
                  this.allProviders = res;
                  this.form.providers = res[res.length -1 ].id;
                  this.isVisible = !this.isVisible; 
                }else{
                  this.$root.alert("error", "Upps..", "Algo ocurrio mal");
                }
                this.$root.loading(false);
              }).catch((error) => {
                console.log(error)
                this.$root.alert("error", "Upps..", error);
                this.$root.loading(false);
              })
    },
    addNewCategories(data){
      this.allCategories = data;
      this.form.categories.push(data[data.length -1 ].id);
    },
    openSidebar(){
      console.log(this.$refs.categories.showForm());
    },
    openProviders(){
      this.isVisible = !this.isVisible;
    }
  },
  computed:{
    folioComputed(){
      return this.lastFolio.padStart(6, "0");
    },
    total(){
      const cash = parseFloat(this.form.cash) || 0;
      const card = parseFloat(this.form.card) || 0;
      const total = cash + card;
      return isNaN(total)  ? 0 : total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    },
    reForm(){
     if(this.bill.length > 2){

        const bill =  JSON.parse( this.bill );
        this.form  = bill;
        this.form.cash = bill.cash ? parseFloat(bill.cash.replace('$' , '').replaceAll(',','')) : null;
        this.form.card = bill.card ? parseFloat(bill.card.replace('$' , '').replaceAll(',','')) : null;
        this.lastFolio = bill.folio ? bill.folio : "";
        this.form.categories = bill.categories ? bill.categories.split(',').map(iNum => {
           return parseInt(iNum, 10)
          }) : [];
        
        this.form.providers = parseInt(bill.providers);

        this.form.paid = bill.paid ? "on" : "off";
     }
   }
  },
  created(){
    this.lastFolio = this.folio;
    this.allCategories = this.categories;
    this.allProviders = this.providers;
  }
}
</script>