<template>
  <div>
      <slot :allbills="allBills" :searchbydate="searchByDate" :search="search" :currenttotal="currentChartData.total" :changerange="changeRange" :form="form" :range="range" :chartdata="currentChartData" :chartoptions="basicOptions"> </slot>
  </div>
</template>

<script>

export default {
  name:'index',
  props:['bills', 'total'],
  data() {
    return {
    allBills:[],
    search:{
      reference: null,
      start:null,
      end:null,
      requested: 'Mostrando los 30 egresos mas recientes',
      provider:null,
      category: null,
      total: 0
    },
     range:{
        current:'weekly',
        options: [
                  {label: 'Año actual', value: 'yearly'},
                  {label: 'Mes actual', value: 'monthly'},
                  {label: 'Semana Actual', value: 'weekly'},
              ]
     },
      currentChartData: {
        labels:[],
        datasets: [
              {
                  label: '',
                  data: [65, 59, 80, 81, 56, 55, 40],
                  fill: true,
                  borderColor: '#42A5F5',
                  tension: .4
              },
          ],
          total:0,
      },
      basicOptions: {
          plugins: {
              legend: {
                  labels: {
                      color: '#495057'
                  }
              }
          },
          scales: {
              x: {
                  ticks: {
                      color: '#495057'
                  },
                  grid: {
                      color: '#ebedef'
                  }
              },
              y: {
                  ticks: {
                      color: '#495057'
                  },
                  grid: {
                      color: '#ebedef'
                  }
              }
          }
      },
     
    }
  },
  methods:{
    changeRange(event){
     this.getInfoChart(event.value);
    },
    getInfoChart(range){

      this.$root.loading(true);
        axios
				.post('/ajax/get-info-chart-totals',{
          range: range,
          year: new Date().getFullYear(),
          month: new Date().getMonth() + 1,
          day: new Date().getDate()
        })
				.then((response) => {
          if(response.data.success){
            this.currentChartData.datasets[0].data = response.data.data.datasets;
            this.currentChartData.labels = response.data.data.labels
            this.currentChartData.total = response.data.data.total;
           this.currentChartData.datasets[0].label = this.chartTitle;
            
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
          

    },
    searchByDate(){
      
        this.$root.loading(true);
          axios
          .post('/ajax/get-bills-by-date',{
            start: this.search.start,
            end: this.search.end,
            reference: this.search.reference,
            category: this.search.category,
            provider: this.search.provider
          })
          .then((response) => {
            if(response.data.success){
              this.allBills = response.data.data.bills;
              this.search.total = response.data.data.total;

              // var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
               this.search.requested = "";
            }
            this.$root.loading(false);
          }).catch((error) => {
            this.$root.alert("error", "Upps..", error);
            this.$root.loading(false);
          })
    }
  },
  computed:{
    chartTitle(){
      if(this.range.current == "weekly"){
        return "Egresos totales de la semana";
      }
      if(this.range.current == "monthly"){
        return "Egresos totales del mes";
      }
      if(this.range.current == "yearly"){
        return "Egresos totales del año";
      }
      return "Egresos totales";
    }
  },
  mounted(){
    this.allBills = this.bills;
    this.search.total = this.total;
    this.getInfoChart('weekly');
  }
}
</script>