<template>
    <slot :chartdata="chartData"></slot>
</template>

<script>

export default {
  name:'salesResume',
  data() {
    return {
  chartData: {
            labels: ['A','B','C'],
            datasets: [
                {
                    data: [300, 150, 100],
                    backgroundColor: ["#42A5F5","#66BB6A","#FFA726"],
                    hoverBackgroundColor: ["#64B5F6","#81C784","#FFB74D"]
                }
            ]
        },

        lightOptions: {
            plugins: {
                legend: {
                    labels: {
                        color: '#495057'
                    }
                }
            }
        }
    }
  }
}
</script>