<template>
  <div>
        <slot :rowselected="rowSelected" :deletecategory="deleteCategory" :categories="allCategories" 
        :showform="showForm" 
        >
    </slot>
    <p-sidebar position="right" :base-z-index="1000" showCloseIcon="false" v-model:visible="isVisible">
            
           <div class="row form-properties">
             <div class="col-sm-12">
               <h3>Agregar categoría de ingresos</h3>
             </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                    <p-input  :class="error.isInvalid" id="name" v-model="nameCategory"></p-input>
                    <label for="name">Categoria</label>
                </span>
                <small class="text-error">{{error.message}}</small>
               </div>
               <div class="col-sm-12 mt-3">
                <p-button icon="pi pi-check" label="Guardar" class="mr-2 p-button-success p-button-sm" @click="saveForm()"></p-button>
               </div>
           </div>

           
        </p-sidebar>
        <p-confirm>
          <template #message="slotProps">
            <div class="row p-4">
                <div class="col-sm-12">
                  <i :class="slotProps.message.icon" style="font-size: 1.5rem"></i>
                  <span class="pl-2">{{slotProps.message.message}} <b>{{slotProps.message.props.name}}</b> ?<br> </span>
                  <div> <br> Recuerda que si esta categoria tiene algun ingreso asociado,<br> esta se reemplazara por 
                    la categoria de "General".
                  </div>
                </div>
            </div>
      </template>
        </p-confirm>

  </div>
</template>

<script>
export default {
  name:'categories',
  props:['categories'],
    data() {
        return {
         error:{ 
           isInvalid: null,
           message:null,
         },
        allCategories: [],
        nameCategory:null,
        isVisible: false
    }
 },
 methods:{
   showForm(category){
     this.isVisible = !this.isVisible;  
     this.nameCategory = category.name;
     this.id = category.id;
   },
   saveForm(){

     if(this.nameCategory && this.nameCategory.length > 1){
       this.error.isInvalid = null;
       this.error.message = null;
     }else {
       
        this.error.isInvalid = "p-invalid";
       this.error.message = "Por favor, ingresa dos o mas caracteres."
       return;
     }

     this.$root.loading(true);
    axios
				.post('/ajax/save-sales-category',{
          name: this.nameCategory,
          id: this.id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Guardado", "La categoria se guardo exitosamente");
            this.nameCategory = null;
            this.allCategories = response.data.data;
            this.$emit('category',response.data.data)
            this.isVisible = !this.isVisible; 
          }else{
            this.$root.alert("error", "Upps..", "Algo ocurrio mal");
          }
          this.$root.loading(false);
				}).catch((error) => {
          console.log(error)
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   ajaxDeleteCategory(id){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-sales-category',{
          id: id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            this.nameCategory = null;
            this.allCategories = response.data.data;
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   rowSelected(row){
     console.log(row);
   },
   deleteCategory(props, event) {
        this.$confirm.require({
            target: event.currentTarget,
            message: '¿Deseas eliminar la categoria de ',
            props: props.data,
            icon: 'pi pi-exclamation-triangle',
            accept: () => {
                this.ajaxDeleteCategory(props.data.id);
            },
            reject: () => {
                //callback to execute when user rejects the action
            }
        });
    },
 },
 mounted(){
    this.allCategories  = this.categories;
 }
}
</script>