<template>
  <div>
    <slot :upload="upload" :data="data" :submit="submit">
    
    </slot>
  </div>
</template>

<script>

export default {
  
  name:'companyProfile',
  props:['business'],
    data() {
        return {
         data:{
          business: {}
         }
    }
 },
 methods:{
  submit(){
    
  },
  upload(event){
    const pic = event.files[0]?.name;
    this.data.business.pic =  this.business.id +'--'+ pic;
    this.$root.alert("success", "Guardado", "Logo de la empresa se actualizo correctamente");
  }
 },
 computed:{

 },
 mounted(){
  this.data.business = this.business;
 }
}
</script>
