<template>
  <div>
        <slot :allemployees="allEmployees" :searchbyname="searchByName" :search="search">
    </slot>

  </div>
</template>

<script>
export default {
  name:'employees',
  props:['employees'],
    data() {
        return {
          allEmployees:[],
          search:{
            name:null,
          },
        }
 },
 methods:{
     searchByName(){
        this.$root.loading(true);
          axios
          .post('/ajax/get-employees-by-name',{
            name: this.search.name,
          })
          .then((response) => {
            if(response.data.success){
              this.allEmployees = response.data.data;
            }
            this.$root.loading(false);
          }).catch((error) => {
            this.$root.alert("error", "Upps..", error);
            this.$root.loading(false);
          })
    },
},

  mounted(){
        this.allEmployees = this.employees;
    }
 }
 
</script>