<template>
  <div>
    {{reForm}}
    <div class="mb-4"></div>
    <slot :selectedpermissions="selectedPermissions" :permissions="permissions"  :deleteemployee="deleteEmployee" :form="form">
    </slot>
        <p-dialog>
        </p-dialog>

  </div>
</template>

<script>
export default {
  name:'employees',
  props:['employee'],
    data() {
        return {
          permissions:[{
            model:[],
            permissions:[
              {
              "group": "Dashboard",
              "permissions":[
                 {
                  "permission": "dashboard_access",
                  "name": "Acceso al dashboard"
                },
              ]
            },
              {
              "group": "Ingresos",
              "permissions":[
                 {
                  "permission": "sales_access",
                  "name": "Ver ingresos"
                },
                 {
                  "permission": "sales_create",
                  "name": "Crear ingreso"
                },
                {
                  "permission": "sales_edit",
                  "name": "Editar ingreso"
                },
                {
                  "permission": "sales_delete",
                  "name": "Eliminar egreso"
                },
              ]
            },
            {
              "group": "Egresos",
              "permissions":[
                {
                  "permission": "bills_access",
                  "name": "Ver egresos"
                },
                {
                  "permission": "bills_create",
                  "name": "Crear egreso"
                },
                {
                  "permission": "bills_edit",
                  "name": "Editar egreso"
                },
                {
                  "permission": "bills_delete",
                  "name": "Eliminar egreso"
                },
              ]
            },
            {
              "group": "Clientes",
              "permissions":[
                {
                  "permission": "clients_access",
                  "name": "Ver clientes"
                },
                {
                  "permission": "clients_create",
                  "name": "Crear clientes"
                },
                {
                  "permission": "clients_edit",
                  "name": "Editar clientes"
                },
                {
                  "permission": "clients_delete",
                  "name": "Eliminar clientes"
                },
              ]
            },
            {
              "group": "Proveedores",
              "permissions":[
                {
                  "permission": "providers_access",
                  "name": "Ver proveedores"
                },
                {
                  "permission": "providers_create",
                  "name": "Crear proveedores"
                },
                {
                  "permission": "providers_edit",
                  "name": "Editar proveedores"
                },
                {
                  "permission": "providers_delete",
                  "name": "Eliminar proveedores"
                },
              ]
            },
            {
              "group": "Reportes",
              "permissions":[
                {
                  "permission": "reports_access",
                  "name": "Acceso a reportes"
                },
                {
                  "permission": "reports_sales",
                  "name": "Reporte de ingresos"
                },
                {
                  "permission": "reports_bills",
                  "name": "Reporte de egresos"
                },
                {
                  "permission": "reports_commissions",
                  "name": "Reporte de comisiones de cualquier empleado"
                },
                {
                  "permission": "reports_commissions_own",
                  "name": "Reporte de comisiones solo propias"
                },
                 {
                  "permission": "reports_incomes",
                  "name": "Reporte de utilidad"
                },
              ]
            },
            {
              "group": "Configuracion",
              "permissions":[
                {
                  "permission": "config_access",
                  "name": "Acceso a configuración"
                },
                {
                  "permission": "config_employees_access",
                  "name": "Ver empleados"
                },
                {
                  "permission": "config_employees_edit",
                  "name": "Agregar/Editar empleados sin creacion de cuentas"
                },
                 {
                  "permission": "config_employees_edit_accounts",
                  "name": "Agregar/Editar empleados con creacion de cuentas"
                },
                {
                  "permission": "config_sales_access",
                  "name": "Editar/Eliminar categorias de ingresos"
                },
                {
                  "permission": "config_bills_access",
                  "name": "Editar/Eliminar categorias de egresos"
                },
              ]
            }
            ]
            
        }],
          selectedPermissions:[],
         error:{ 
           isInvalid: null,
           message:null,
         },

        form: {
          id: null,
          payment_type: "none",
          account: "off",
          active: "on"
        },
    }
 },
 methods:{
 ajaxDelete(){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-employee',{
          id: id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            window.location.href = "/config/employees";

           
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   deleteEmployee(props, event) {
         this.$confirm.require({
                message: 'Desear eliminar a ' + this.form.name + '?',
                header: 'Eliminar Empleado',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.ajaxDelete();
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });
    },
 },
 computed:{
   reForm(){
     if(this.employee.length > 2){
       const employee =  JSON.parse( this.employee );
        this.form  = employee;
        this.form.active = employee.active ? "on" : "off";
        this.form.account = employee.account  ? "on" : "off";
        console.log(employee.permissions);
        this.permissions[0].model =  employee.permissions ? employee.permissions.split(',') : [];
        this.form.username = employee.username || employee.user?.email;
     }
   }
 },
}
</script>