<template>
  <div>
    {{reForm}}
    <slot :onpage="onPage" :transactions="transactions"  :states="states" :deletecompany="deleteCompany" :form="form">
    </slot>
        <p-dialog>
        </p-dialog>

  </div>
</template>

<script>
export default {
  name:'companies',
  props:['company', 'success'],
    data() {
        return {
          transactions:{
            transactions:{
              data:[],
            }
          },
         error:{ 
           isInvalid: null,
           message:null,
         },

        form: {
          id: null,
          active: "on"
        },
    }
 },
 methods:{
   getTransactions(page){
     if(this.form.id){
       this.$root.loading(true);
       axios
				.post('/ajax/get-transactions-by-company?page='+ page,{
          id: this.form.id,
          type: this.companyType
        })
				.then((response) => {
          if(response.data.success){
             console.log(response.data.data);
            this.transactions = response.data.data;
           
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
     }
   },
   onPage(event){
     console.log(event.page);
     this.getTransactions(event.page + 1);
   },
 ajaxDelete(){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-company',{
          id: id,
          type: this.companyType
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            window.location.href = "/"+this.companyType;

           
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   deleteCompany(props, event) {
         this.$confirm.require({
                message: 'Si '+ this.form.name +' tiene '+  this.companyTypeSpanish  +' asociados, se le asignara "Publico en General" por default'+
                '  ',
                header: 'Desear eliminar a ' + this.form.name + '?',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.ajaxDelete();
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });
    },
 },
 computed:{
 
   reForm(){
     if(this.company.length > 2){
       const company =  JSON.parse( this.company );
        this.form  = company;
        this.form.active = company.active ? "on" : "off";
     }
   },
   companyTypeSpanish(){
     return this.companyType == "clients" ? "ingresos" : "egresos";
   },
   companyType(){
     return window.location.href.includes("clients") ? "clients" : "providers";
   }
 },
 mounted(){
   this.getTransactions(1);
 }
}
</script>