<template>
  <div>
        <slot :allclients="allClients" :searchbyname="searchByName" :search="search">    </slot>
  </div>
</template>

<script>
export default {
  name:'Clients',
  props:['clients'],
    data() {
        return {
          allClients:[],
          search:{
            name:null,
          },
        }
 },
 methods:{
     searchByName(){
      
        this.$root.loading(true);
          axios
          .post('/ajax/get-clients-by-name',{
            name: this.search.name,
            type:  window.location.href.includes("clients") ? "client" : "provider"
          })
          .then((response) => {
            if(response.data.success){
              this.allClients = response.data.data;
            }
            this.$root.loading(false);
          }).catch((error) => {
            this.$root.alert("error", "Upps..", error);
            this.$root.loading(false);
          })
    },
 ajaxDelete(){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-company',{
          id: id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            window.location.href = "/"+this.companyType;

           
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   deleteCompany(props, event) {
         this.$confirm.require({
                message: 'Desear eliminar a ' + this.form.name + '?',
                header: 'Eliminar',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.ajaxDelete();
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });
    },
   
 },
 computed:{

   companyType(){
     return window.location.href.includes("clients") ? "clients" : "providers";
   }
 },
  mounted(){
        this.allClients = this.clients;
    }
}
</script>