<template>
  <div>
    
      
          <slot :allsales="allSales" :searchbydate="searchByDate" :search="search" :currenttotal="currentChartData.total" :changerange="changeRange" :form="form" :range="range" :chartdata="currentChartData" :chartoptions="basicOptions"> </slot>
   
    
  </div>
</template>

<script>

export default {
  name:'index',
  props:['sales', 'total'],
  data() {
    return {
    allSales:[],
    search:{
      start:null,
      end:null,
      requested: 'Mostrando las 30 cotizaciones mas recientes',
      total: 0,
      reference:null,
      status:'QUOTATION'
    },
     range:{
        current:'weekly',
        options: [
                  {label: 'Año actual', value: 'yearly'},
                  {label: 'Mes actual', value: 'monthly'},
                  {label: 'Semana Actual', value: 'weekly'},
              ]
     },
      currentChartData: {
        labels:[],
        datasets: [
              {
                  label: '',
                  data: [65, 59, 80, 81, 56, 55, 40],
                  fill: true,
                  borderColor: '#42A5F5',
                  tension: .4
              },
          ],
          total:0,
      },
      basicOptions: {
          plugins: {
              legend: {
                  labels: {
                      color: '#495057'
                  }
              }
          },
          scales: {
              x: {
                  ticks: {
                      color: '#495057'
                  },
                  grid: {
                      color: '#ebedef'
                  }
              },
              y: {
                  ticks: {
                      color: '#495057'
                  },
                  grid: {
                      color: '#ebedef'
                  }
              }
          }
      },
     
    }
  },
  methods:{
    changeRange(event){
     this.getInfoChart(event.value);
    },
    searchByDate(){
      
        this.$root.loading(true);
          axios
          .post('/ajax/get-quotations-by-date',{
            start: this.search.start,
            end: this.search.end,
            reference: this.search.reference,
            client:this.search.client,
            category: this.search.category,
            status: this.search.status
          })
          .then((response) => {
            if(response.data.success){
              this.allSales = response.data.data.sales;
              this.search.total = response.data.data.total;
              this.search.requested = "";
            }
            this.$root.loading(false);
          }).catch((error) => {
            this.$root.alert("error", "Upps..", error);
            this.$root.loading(false);
          })
      
    }
  },
  computed:{
    chartTitle(){
      if(this.range.current == "weekly"){
        return "Ingresos totales de la semana";
      }
      if(this.range.current == "monthly"){
        return "Ingresos totales del mes";
      }
      if(this.range.current == "yearly"){
        return "Ingresos totales del año";
      }
      return "Ingresos totales";
    }
  },
  mounted(){
    this.allSales = this.sales;
    this.search.total = this.total;
  }
}
</script>