<template>
  <div>
        <slot :rowselected="rowSelected" :deleteproduct="deleteProduct" :products="allProducts" 
        :showform="showForm" 
        >
    </slot>
    <p-sidebar position="right" :base-z-index="1000" showCloseIcon="false" v-model:visible="isVisible">
            
           <div class="row form-properties">
             <div class="col-sm-12">
               <h3>Agregar producto o servicio</h3>
             </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                    <p-input  :class="error.isInvalid" id="name" v-model="product.name"></p-input>
                    <label for="name">Producto</label>
                </span>
                <small class="text-error">{{error.message}}</small>
               </div>
               <div class="col-sm-12 ">
                    <span class="p-float-label">
                        <p-textarea rows="5" cols="30" name="description"  id="description" type="text" v-model="product.description" ></p-textarea>
                        <label for="description">Descripción</label>
                    </span>
                </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                     <p-inputnumber currency="USD" name="cash" id="locale-us" v-model="product.price" mode="decimal" locale="en-US" :min-fraction-digits="2"></p-inputnumber>
                    <label for="name">Precio Unitario</label>
                </span>
               </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                  <p-dropdown id="taxes"  v-model="product.type" 
                  :options="productTypes" option-label="label" 
                  option-value="value" ></p-dropdown>                                                
                  <label for="name">Tipo</label>
                </span>
               </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                  <p-dropdown id="taxes"  v-model="product.taxes" :options="$root.taxes" option-label="name" option-value="code" ></p-dropdown>                                                
                  <label for="name">Impuestos</label>
                </span>
               </div>
               <div class="col-sm-12">
                <span class="p-float-label">
                     <p-inputnumber currency="USD" name="purchase_price" id="locale-us" v-model="product.purchase_price" mode="decimal" locale="en-US" :min-fraction-digits="2"></p-inputnumber>
                    <label for="name">Costo</label>
                </span>
               </div>
               <div class="col-sm-12 mt-3">
                <p-button label="Guardar" class="full-w p-button-success p-button-sm" @click="saveForm()"></p-button>
                <p-button v-if="product.id"  label="Desactivar" class="mt-2 full-w p-button-danger p-button-sm" @click="deleteCategory()"></p-button>

               </div>
           </div>

           
        </p-sidebar>
        <p-confirm>
          <template #message="slotProps">
            <div class="row p-4">
                <div class="col-sm-12">
                  <i :class="slotProps.message.icon" style="font-size: 1.5rem"></i>
                  <span class="pl-2">{{slotProps.message.message}} <b>{{slotProps.message.props.name}}</b> ?<br> </span>
                </div>
            </div>
          </template>
        </p-confirm>

  </div>
</template>

<script>
export default {
  name:'products',
  props:['products'],
    data() {
        return {
          productTypes:[
            {value: 'PRODUCT', label:'Producto'},
            {value: 'SERVICE', label:'Servicio'}
            ],
          product:{},
         error:{ 
           isInvalid: null,
           message:null,
         },
        allProducts: [],
        nameCategory:null,
        isVisible: false
    }
 },
 methods:{
   showForm(product){
     this.isVisible = !this.isVisible;  
     this.setProductToEdit(product);
     
   },
   cleanProduct(){
    this.product.taxes = 'none';
    this.product.type = 'PRODUCT';
    this.product.id = null;
    this.product.purchase_price = null;
    this.product.name = null;
    this.product.price = 0;
    this.product.description = null;
   },
   setProductToEdit(p){
    //se hizo de esta manera porque se si hacia this.product = p;
    //no funcionaba de la manera correcta
    if(p.id == undefined) {
      this.cleanProduct();
      return;
    };
    this.product.name = p.name;
    this.product.price = p.price;
    this.product.description = p.description;
    this.product.taxes = p.taxes;
    this.product.taxes_amount = p.taxes_amount;
    this.product.id = p.id;
    this.product.type = p.type;
    this.product.purchase_price = p.purchase_price;
   },
   saveForm(){
     if(this.product.name && this.product.name.length > 1){
       this.error.isInvalid = null;
       this.error.message = null;
     }else {
      this.error.isInvalid = "p-invalid";
       this.error.message = "Por favor, ingresa dos o mas caracteres."
       return;
     }

     this.$root.loading(true);
     console.log(this.product);
     this.product.taxesAmount = this.$root.taxes.find(taxes => taxes.code == this.product.taxes).tax; 
    axios
				.post('/ajax/save-product',{
          data: this.product
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Guardado", "El producto se guardo exitosamente");
            this.allProducts = response.data.data;
            this.$emit('product',response.data.data)
           
            this.isVisible = !this.isVisible; 
            
          }else{
            this.$root.alert("error", "Upps..", "Algo ocurrio mal");
          }
          this.$root.loading(false);
				}).catch((error) => {
          console.log(error)
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   ajaxDeleteCategory(id){
     this.$root.loading(true);
    axios
				.post('/ajax/delete-product/'+id,{
          id: id
        })
				.then((response) => {
          if(response.data.success){
            this.$root.alert("success", "Eliminado", response.data.message);
            this.allProducts = response.data.data;
          }else{
            this.$root.alert("error", "Upps..", response.data.message);
          }
          this.$root.loading(false);
				}).catch((error) => {
          this.$root.alert("error", "Upps..", error);
          this.$root.loading(false);
				})
   },
   rowSelected(row){
     console.log(row);
   },
   deleteProduct(props, event) {
        this.$confirm.require({
            target: event.currentTarget,
            message: '¿Deseas desactivar el producto',
            props: props.data,
            icon: 'pi pi-exclamation-triangle',
            accept: () => {
                this.ajaxDeleteCategory(props.data.id);
            },
            reject: () => {
                //callback to execute when user rejects the action
            }
        });
    },
 },
 mounted(){
    this.allProducts  = this.products;
    this.cleanProduct();
 }
}
</script>